h1 {
    text-align: center;
    color: #4c9a4d;
    margin: 0 auto;
}

#banner {
    width: 100%;

}

h2 {
    color:#4c9a4d ;
    text-align: center;
    margin: 0 auto;
}

.except {
    display: flex;
    max-width: 800px;
    padding: 8px;
    margin: 0 auto;
}

.name {
    width: 50%;
    padding-top: 0px 8px;

}

.kiran {
    width: 50%;

}
#image{
    width:100%;
    border-radius: 20px;
    height: 360px;
    margin-top: 20px;
    margin-left: 15px;
}

body {
    margin: 0;
    text-transform: capitalize;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;};

#image {
    width: 100%;
    padding-top: 15px;

    border-radius: 20cqmin;
}

#cour {
    max-width: 800px;
    margin: 0 auto;

}

#wb {
    color: rgb(120, 118, 118);
}

.ai {
    color: rgb(120, 118, 118);
}

.ml {
    color: rgb(120, 118, 118)
}

#foll {
    background-color: rgb(253, 253, 250);
    padding: 8px;

    text-align: center;
}

#fll {
    list-style: none;

}

#fll li {
    display: inline;
    margin: 0 20px;

}

a {
    text-decoration: none;
    color:#0EA5E9;
}
a:hover{
    color: blue;
}
#sou {
    max-width: 800px;
    text-align: center;
    margin-left: 370px;
    color: rgb(180, 179, 179);
}

#but1 {
   float: right;
   padding: 5px 5px 5px 5px;
   color:cadetblue;
   border-radius: 30px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

.apply{
    float: right;
}



#bor{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    padding-top: 20px;
 
}
#bam th{
    padding: 5px;
}
#bam td{
    padding: 5px;
}


#but1{
    border-radius: 9px;
 background-color:rgb(151, 211, 151);
 font-weight: 600;
 color: rgb(10, 10, 10);

}
#applicationform div{
    padding: 8px;
}

#applicationform input {
 padding: 6px;
    font-size: 1.5rem;
    border-radius: 5px;
    border-color: rgb(170, 169, 169);
    margin-top: 10px;
    
}
#applicationform label{
    font-weight: 600;
    padding-bottom:10px;
    font-size: 17px;

}
.position input{
    padding: 10px;
    border-radius: 5px;
}


#box input[type="checkbox"] {
width: 20px;
height: 20px;
}
.submit input{
    background-color: rgb(182, 250, 250);
    color: black;
}











